<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular notification App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #notification-list      { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL notifications -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND notification COUNT -->
        <div class="jumbotron text-center">
            <h1>I'm a notification-aholic <span class="label label-info">{{ notifications.length }}</span></h1>
        </div>

        <!-- notification LIST -->
        <div id="notification-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE notifications IN $scope.notifications -->
                <div class="checkbox" ng-repeat="notification in notifications">
                    <label>
                        <input type="checkbox"
                        ng-click="deletenotification(notification._id)"> {{ notification.nid }}
                    </label>
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE notifications -->
        <div id="notification-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
                    </div>

                    <!-- createnotification() WILL CREATE NEW notifications -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createnotification()">Add</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>
