<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>
<head>
<!-- META -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

<title>Nodes</title>

<style>
body { padding-top:50px; }
</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.js"></script>
<script src="../js/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="../js/nodes.js"></script>

</head>
<body>
<div class="container" ng-app="nodes" ng-controller="nodesCtrl">
<ul class="nav nav-tabs">
    <li><a href="home">Home</a></li>
    <li><a href="/ui/notifications">Notifications</a></li>
    <li><a href="/ui/robots">Robots</a></li>
    <li><a href="/ui/cronbots">Cronbots</a></li>
    <li><a href="/ui/transforms">Transforms</a></li>
    <li class="active"><a href="/ui/nodes">Nodes</a></li>
    <li><a href="/ui/transactions">Transactions</a></li>
    <li><a href="/ui/logs">Logs</a></li>
</ul>
<ol class = "breadcrumb">
    <li class = "active">Nodes</li>
</ol>

<table class="table table-hover">
    <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = 'nodeId'; sortReverse = !sortReverse">
                    Node ID
                    <span ng-show="sortType == 'nodeId' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'nodeId' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Name
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'batteryValue'; sortReverse = !sortReverse">
                    Battery
                    <span ng-show="sortType == 'batteryValue' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'batteryValue' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'lastWakeupTime'; sortReverse = !sortReverse">
                    Last Wakeup
                    <span ng-show="sortType == 'lastWakeupTime' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'lastWakeupTime' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>

        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="node in nodes | orderBy:sortType:sortReverse">
        <td>{{node.nodeId}} </td>
        <td>{{node.name}} </td>
        <td>{{node.batteryValue}} </td>
        <td>{{node.lastWakeupTime}} </td>
        <td>
            <a ng-click="setSelected(node)" class="glyphicon glyphicon glyphicon-edit btn btn-dngr" role="button"></a>
            <a ng-really-message="Delete node {{node.nodeId}}?" ng-really-click="delete(node)" confirm="Are you sure?" class="glyphicon glyphicon-trash btn btn-dngr" role="button"></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="#" class="controls previous" ng-disabled="disablePrev()" ng-click="prevPage()">&laquo; prev</a>
<a href="#" class="controls next" ng-disabled="disableNext()" ng-click="nextPage()">next &raquo;</a>
<br>
<br>
<a href="/ui/nodes/create" class="btn btn-info" role="button">Add Node</a>
</div>
</body>
</html>
