<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Notification Create</title>

    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.js"></script>
    <script src="../../js/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="../../js/notificationservice.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/notificationcreate.js"></script>
</head>

<body>
    <div class="container" ng-app="notifications" ng-controller="notificationCreateCtrl">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="getTabClass(tab, title)" ng-repeat="tab in getTabs()" class="smooth_transition">
                <a ng-click="changeLocation(tab.url)" role="tab">{{tab.title}}</a>
            </li>
        </ul>
        <ol class="breadcrumb">
            <li><a ng-click="changeLocation(uiUrl)" role="button">{{title}}</a></li>
            <li class="active">Create</li>
        </ol>

        <form class="form-horizontal" name="createform" novalidate ng-submit="createform.$valid && create()">
            <div class="form-group">
                <label class="control-label col-xs-2" for="type">Type</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" ng-model="item.type" id="type" name="type" required placeholder="type" />
                </div>
                <div class="col-xs-4" ng-messages="createform.type.$error" ng-show="createform.type.$touched">
                    <div ng-messages-include="../../views/messages.html"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="name">Value</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" ng-model="item.value" id="value" name="value" required ng-minlength="3" placeholder="value" />
                </div>
                <div class="col-xs-4" ng-messages="createform.value.$error" ng-show="createform.value.$touched">
                    <div ng-messages-include="../../views/messages.html"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="name">Blob</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" ng-model="item.blob" id="blob" name="blob" required ng-minlength="3" placeholder="value" />
                </div>
                <div class="col-xs-4" ng-messages="createform.blob.$error" ng-show="createform.blob.$touched">
                    <div ng-messages-include="../../views/messages.html"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-4">
                    <a ng-click="changeLocation(uiUrl)" class="glyphicon glyphicon-arrow-left btn btn-info" role="button"></a>
                    <button class="btn btn-info" type="submit" ng-disabled="createform.$invalid">Add</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
