<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>
<head>
<!-- META -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

<title>Transaction Edit</title>

<style>
body { padding-top:50px; }
</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.js"></script>
<script src="../../js/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="../../js/transactionedit.js"></script>

</head>
<body>
<div class="container" ng-app="transactionedit" ng-controller="transactioneditCtrl">
    <ul class="nav nav-tabs">
        <li><a href="home">Home</a></li>
        <li><a href="/ui/notifications">Notifications</a></li>
        <li><a href="/ui/robots">Robots</a></li>
        <li><a href="/ui/cronbots">Cronbots</a></li>
        <li><a href="/ui/transforms">Transforms</a></li>
        <li><a href="/ui/nodes">Nodes</a></li>
        <li class="active"><a href="/ui/transactions">Transactions</a></li>
        <li><a href="/ui/logs">Logs</a></li>
    </ul>

    <ol class = "breadcrumb">
        <li><a href = "/ui/transactions">Transactions</a></li>
        <li class = "active">Edit</li>
    </ol>

    <form class="form-horizontal" name="transactionedit" novalidate ng-submit="transactionedit.$valid && save()">
        <div class="form-group">
            <label class="control-label col-xs-2" for="state">State</label>
            <div class="col-xs-4">
                <select class="form-control" ng-model="state" id="state" name="state">
                  <option value="READY">READY</option>
                  <option value="RUNNING">RUNNING</option>
                  <option value="SUCCESS">SUCCESS</option>
                  <option value="FAILED">FAILED</option>
                </select>
            </div>
            <div class="col-xs-4" ng-messages="transactionedit.state.$error" ng-show="transactionedit.state.$touched">
                <div ng-messages-include="../../views/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="description">Description</label>
            <div class="col-xs-4"> 
                <input class="form-control" type="text" ng-model="description" id="description" name="description" placeholder="description" />
            </div>
            <div class="col-xs-4" ng-messages="transactionedit.description.$error" ng-show="transactionedit.description.$touched">
                <div ng-messages-include="../../views/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="submitted_time">Submitted Time</label>
            <div class="col-xs-4"> 
                <input class="form-control" type="text" ng-model="submitted_time" id="submitted_time" name="submitted_time" placeholder="submitted_time" />
            </div>
            <div class="col-xs-4" ng-messages="transactionedit.submitted_time.$error" ng-show="transactionedit.submitted_time.$touched">
                <div ng-messages-include="../../views/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="started_time">Started Time</label>
            <div class="col-xs-4"> 
                <input class="form-control" type="text" ng-model="started_time" id="started_time" name="started_time" placeholder="started_time" />
            </div>
            <div class="col-xs-4" ng-messages="transactionedit.started_time.$error" ng-show="transactionedit.started_time.$touched">
                <div ng-messages-include="../../views/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="completed_time">Completed Time</label>
            <div class="col-xs-4"> 
                <input class="form-control" type="text" ng-model="completed_time" id="completed_time" name="completed_time" placeholder="completed_time" />
            </div>
            <div class="col-xs-4" ng-messages="transactionedit.completed_time.$error" ng-show="transactionedit.completed_time.$touched">
                <div ng-messages-include="../../views/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="parent"> Parent Transaction</label>
            <div class="col-xs-4"> 
                <input class="form-control" type="text" ng-model="parent" id="parent" name="parent" placeholder="parent" />
            </div>
            <div class="col-xs-4" ng-messages="transactionedit.parent.$error" ng-show="transactionedit.parent.$touched">
                <div ng-messages-include="../../views/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                <a href="/ui/transactions" class="glyphicon glyphicon-arrow-left btn btn-info" role="button"></a>
                <button class="glyphicon glyphicon-floppy-save btn btn-info" type="submit" ng-disabled="nodeedit.$invalid"> Save</button>
                <a ng-really-message="Delete transaction {{_id}}?" style="float: right;" ng-really-click="delete()" confirm="Are you sure?" class="glyphicon glyphicon-trash btn btn-dngr" role="button"></a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
